<div>
  <h2><%= @entry.title %></h2>
  <p><%= @entry.date %></p>
  <p><%= @entry.contents %></p>
  <br>
  <p><%= link_to("Powrot do poprzedniej strony", entries_path) %></p>
  <p><%= link_to("Powrot do strony glownej", root_path) %></p>
</div>
